Repository guilhermescherer/product-catalog, pull requests merged in 2022-04, with the labels that each got.

#1 Create application to connect with oracle database
  back-end/pom.xml
  back-end/src/main/java/com/personal/productcatalog/controller/ProductController.java
  back-end/src/main/java/com/personal/productcatalog/dto/ProductDTO.java
  back-end/src/main/java/com/personal/productcatalog/form/ProductForm.java
  back-end/src/main/java/com/personal/productcatalog/model/Product.java
  back-end/src/main/java/com/personal/productcatalog/repository/ProductRepository.java
  back-end/src/main/java/com/personal/productcatalog/service/ProductService.java
  back-end/src/main/resources/application.properties
  back-end/src/main/resources/application.yml
Labels: back-end

#2 pre-main -> main
  back-end/pom.xml
  back-end/src/main/java/com/personal/productcatalog/controller/ProductController.java
  back-end/src/main/java/com/personal/productcatalog/dto/ProductDTO.java
  back-end/src/main/java/com/personal/productcatalog/form/ProductForm.java
  back-end/src/main/java/com/personal/productcatalog/model/Product.java
  back-end/src/main/java/com/personal/productcatalog/repository/ProductRepository.java
  back-end/src/main/java/com/personal/productcatalog/service/ProductService.java
  back-end/src/main/resources/application.properties
  back-end/src/main/resources/application.yml
Labels: back-end

#4 Create initial structure to product
  back-end/src/main/java/com/personal/productcatalog/config/exception/AbstractExceptionHandler.java
  back-end/src/main/java/com/personal/productcatalog/config/exception/impl/MethodArgumentNotValidHandler.java
  back-end/src/main/java/com/personal/productcatalog/config/exception/impl/NotFoundHandler.java
  back-end/src/main/java/com/personal/productcatalog/controller/ProductController.java
  back-end/src/main/java/com/personal/productcatalog/dto/ErrorDTO.java
  back-end/src/main/java/com/personal/productcatalog/dto/ExceptionErrorDTO.java
  back-end/src/main/java/com/personal/productcatalog/dto/ProductDTO.java
  back-end/src/main/java/com/personal/productcatalog/exception/AbstractException.java
  back-end/src/main/java/com/personal/productcatalog/exception/NotFoundException.java
  back-end/src/main/java/com/personal/productcatalog/form/ProductForm.java
  back-end/src/main/java/com/personal/productcatalog/model/Product.java
  back-end/src/main/java/com/personal/productcatalog/service/ProductService.java
Labels: back-end

#5 pre-main -> main
  back-end/src/main/java/com/personal/productcatalog/config/exception/AbstractExceptionHandler.java
  back-end/src/main/java/com/personal/productcatalog/config/exception/impl/MethodArgumentNotValidHandler.java
  back-end/src/main/java/com/personal/productcatalog/config/exception/impl/NotFoundHandler.java
  back-end/src/main/java/com/personal/productcatalog/controller/ProductController.java
  back-end/src/main/java/com/personal/productcatalog/dto/ErrorDTO.java
  back-end/src/main/java/com/personal/productcatalog/dto/ExceptionErrorDTO.java
  back-end/src/main/java/com/personal/productcatalog/dto/ProductDTO.java
  back-end/src/main/java/com/personal/productcatalog/exception/AbstractException.java
  back-end/src/main/java/com/personal/productcatalog/exception/NotFoundException.java
  back-end/src/main/java/com/personal/productcatalog/form/ProductForm.java
  back-end/src/main/java/com/personal/productcatalog/model/Product.java
  back-end/src/main/java/com/personal/productcatalog/service/ProductService.java
Labels: back-end

#7 first front end commit
  front-end/index.html
  front-end/main.html
Labels: front-end

#9 Created initial structure to login with keycloak
  back-end/pom.xml
  back-end/src/main/java/com/personal/productcatalog/config/exception/AbstractExceptionHandler.java
  back-end/src/main/java/com/personal/productcatalog/config/security/SecurityConfiguration.java
  back-end/src/main/java/com/personal/productcatalog/controller/ProductController.java
  back-end/src/main/java/com/personal/productcatalog/controller/ResumeController.java
  back-end/src/main/java/com/personal/productcatalog/utils/SecurityUtils.java
  back-end/src/main/resources/application.yml
Labels: back-end

#10 front-end initial commit
  front-end/.gitignore
  front-end/README.md
  front-end/index.html
  front-end/package-lock.json
  front-end/package.json
  front-end/public/index.html
  front-end/src/App.js
  front-end/src/index.css
  front-end/src/index.js
Labels: front-end

#12 Implements Swagger to API
  back-end/pom.xml
  back-end/src/main/java/com/personal/productcatalog/ProductCatalogApplication.java
  back-end/src/main/java/com/personal/productcatalog/config/security/SecurityConfiguration.java
  back-end/src/main/java/com/personal/productcatalog/config/swagger/SwaggerConfiguration.java
  back-end/src/main/java/com/personal/productcatalog/controller/ProductController.java
  back-end/src/main/java/com/personal/productcatalog/controller/ResumeController.java
  back-end/src/main/resources/application.yml
Labels: back-end

#14 pre-main -> main
  back-end/pom.xml
  back-end/src/main/java/com/personal/productcatalog/ProductCatalogApplication.java
  back-end/src/main/java/com/personal/productcatalog/config/security/SecurityConfiguration.java
  back-end/src/main/java/com/personal/productcatalog/config/swagger/SwaggerConfiguration.java
  back-end/src/main/java/com/personal/productcatalog/controller/ProductController.java
  back-end/src/main/java/com/personal/productcatalog/controller/ResumeController.java
  back-end/src/main/resources/application.yml
  back-end/src/test/java/com/personal/productcatalog/unity/form/ProductFormTest.java
  front-end/.gitignore
  front-end/README.md
  front-end/index.html
  front-end/package-lock.json
  front-end/package.json
  front-end/public/index.html
  front-end/src/App.js
  front-end/src/index.css
  front-end/src/index.js
Labels: back-end, front-end

#15 Create integration test to ProductService
  back-end/pom.xml
  back-end/src/main/java/com/personal/productcatalog/service/ProductService.java
  back-end/src/test/java/com/personal/productcatalog/fixture/ProductFixture.java
  back-end/src/test/java/com/personal/productcatalog/integration/repository/ProductRepositoryTest.java
  back-end/src/test/java/com/personal/productcatalog/integration/service/ProductServiceTest.java
Labels: back-end

#16 Update tests structure
  back-end/src/test/java/com/personal/productcatalog/ProductCatalogApplicationTests.java
  back-end/src/test/java/com/personal/productcatalog/form/ProductFormTest.java
  back-end/src/test/java/com/personal/productcatalog/integration/repository/ProductRepositoryTest.java
  back-end/src/test/java/com/personal/productcatalog/service/ProductServiceTest.java
Labels: back-end

#17 Pre main
  back-end/pom.xml
  back-end/src/main/java/com/personal/productcatalog/service/ProductService.java
  back-end/src/test/java/com/personal/productcatalog/ProductCatalogApplicationTests.java
  back-end/src/test/java/com/personal/productcatalog/fixture/ProductFixture.java
  back-end/src/test/java/com/personal/productcatalog/form/ProductFormTest.java
  back-end/src/test/java/com/personal/productcatalog/service/ProductServiceTest.java
Labels: back-end

#18 Implements pageable and sort to findAll method
  back-end/src/main/java/com/personal/productcatalog/ProductCatalogApplication.java
  back-end/src/main/java/com/personal/productcatalog/controller/ProductController.java
  back-end/src/main/java/com/personal/productcatalog/dto/ProductDTO.java
  back-end/src/main/java/com/personal/productcatalog/service/ProductService.java
  back-end/src/test/java/com/personal/productcatalog/fixture/ProductFixture.java
  back-end/src/test/java/com/personal/productcatalog/service/ProductServiceTest.java
Labels: back-end

#19 pre-main -> main
  back-end/src/main/java/com/personal/productcatalog/ProductCatalogApplication.java
  back-end/src/main/java/com/personal/productcatalog/controller/ProductController.java
  back-end/src/main/java/com/personal/productcatalog/dto/ProductDTO.java
  back-end/src/main/java/com/personal/productcatalog/service/ProductService.java
  back-end/src/test/java/com/personal/productcatalog/fixture/ProductFixture.java
  back-end/src/test/java/com/personal/productcatalog/service/ProductServiceTest.java
Labels: back-end

#21 impr: initial typescript commit
  front-end/README.md
  front-end/package-lock.json
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/index.tsx
  front-end/tsconfig.json
  front-end/yarn.lock
Labels: front-end

#22 Implements filter to product findAll method
  back-end/src/main/java/com/personal/productcatalog/builder/FilterBuilder.java
  back-end/src/main/java/com/personal/productcatalog/controller/ProductController.java
  back-end/src/main/java/com/personal/productcatalog/service/ProductService.java
  back-end/src/test/java/com/personal/productcatalog/service/ProductServiceTest.java
Labels: back-end

#23 pre-main -> main
  back-end/src/main/java/com/personal/productcatalog/builder/FilterBuilder.java
  back-end/src/main/java/com/personal/productcatalog/controller/ProductController.java
  back-end/src/main/java/com/personal/productcatalog/service/ProductService.java
  back-end/src/test/java/com/personal/productcatalog/service/ProductServiceTest.java
  front-end/README.md
  front-end/package-lock.json
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/index.tsx
  front-end/tsconfig.json
  front-end/yarn.lock
Labels: back-end

#26 feat: styled componentes
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/components/button/index.tsx
  front-end/src/components/button/style.ts
  front-end/src/components/index.ts
  front-end/src/index.css
  front-end/yarn.lock
Labels: front-end

#29 pre-main -> main
  back-end/src/main/java/com/personal/productcatalog/action/Actions.java
  back-end/src/main/java/com/personal/productcatalog/action/product/ProductAction.java
  back-end/src/main/java/com/personal/productcatalog/action/product/impl/SaveProductToDatabase.java
  back-end/src/main/java/com/personal/productcatalog/action/product/impl/SendEmailCreatedProduct.java
  back-end/src/main/java/com/personal/productcatalog/annotations/Action.java
  back-end/src/main/java/com/personal/productcatalog/annotations/Facade.java
  back-end/src/main/java/com/personal/productcatalog/config/bean/ConfigActions.java
  back-end/src/main/java/com/personal/productcatalog/controller/ProductController.java
  back-end/src/main/java/com/personal/productcatalog/controller/ResumeController.java
  back-end/src/main/java/com/personal/productcatalog/exception/InternalServerErrorException.java
  back-end/src/main/java/com/personal/productcatalog/facade/ProductFacade.java
  back-end/src/main/java/com/personal/productcatalog/model/User.java
  back-end/src/main/java/com/personal/productcatalog/service/ProductService.java
  back-end/src/test/java/com/personal/productcatalog/service/ProductServiceTest.java
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/components/button/index.tsx
  front-end/src/components/button/style.ts
  front-end/src/components/index.ts
  front-end/src/index.css
  front-end/yarn.lock
Labels: back-end, front-end

#30 Create abstract action class to use in all chain of responsibility cases
  back-end/src/main/java/com/personal/productcatalog/action/AbstractAction.java
  back-end/src/main/java/com/personal/productcatalog/action/Actions.java
  back-end/src/main/java/com/personal/productcatalog/action/product/ProductAction.java
  back-end/src/main/java/com/personal/productcatalog/action/product/SaveProductToDatabase.java
  back-end/src/main/java/com/personal/productcatalog/action/product/SendEmailCreatedAbstract.java
  back-end/src/main/java/com/personal/productcatalog/config/bean/ConfigActions.java
Labels: back-end

#35 Implement email sent
  back-end/pom.xml
  back-end/src/main/java/com/personal/productcatalog/action/product/SendEmailProductCreated.java
  back-end/src/main/resources/application.yml
Labels: back-end

#38 pre-main -> main
  back-end/pom.xml
  back-end/src/main/java/com/personal/productcatalog/action/product/SendEmailProductCreated.java
  back-end/src/main/resources/application.yml
Labels: back-end

#39 Update unit tests
  back-end/src/main/resources/application.yml
Labels: back-end

#40 pre-main -> main
  back-end/src/main/resources/application.yml
Labels: back-end

#37 [WIP] Update unit tests
  back-end/src/main/java/com/personal/productcatalog/service/ProductService.java
  back-end/src/main/resources/application.yml
  back-end/src/test/java/com/personal/productcatalog/action/ActionTest.java
  back-end/src/test/java/com/personal/productcatalog/fixture/ProductFixture.java
  back-end/src/test/java/com/personal/productcatalog/fixture/UserFixture.java
  back-end/src/test/java/com/personal/productcatalog/service/ProductServiceTest.java
  back-end/src/test/java/com/personal/productcatalog/service/UserServiceTest.java
Labels: back-end

#43 Implement e-mail service and create html body
  back-end/pom.xml
  back-end/src/main/java/com/personal/productcatalog/action/product/SendEmailProductCreated.java
  back-end/src/main/java/com/personal/productcatalog/exception/MailException.java
  back-end/src/main/java/com/personal/productcatalog/model/Email.java
  back-end/src/main/java/com/personal/productcatalog/service/EmailService.java
  back-end/src/main/java/com/personal/productcatalog/utils/EmailUtils.java
  back-end/src/main/resources/application.yml
  back-end/src/main/resources/email/created-product-body-email.html
Labels: back-end, front-end

#44 Create LOG with LOG4J
  back-end/src/main/java/com/personal/productcatalog/service/EmailService.java
Labels: back-end

#45 pre-main -> main
  back-end/pom.xml
  back-end/src/main/java/com/personal/productcatalog/action/product/SendEmailProductCreated.java
  back-end/src/main/java/com/personal/productcatalog/exception/MailException.java
  back-end/src/main/java/com/personal/productcatalog/model/Email.java
  back-end/src/main/java/com/personal/productcatalog/service/EmailService.java
  back-end/src/main/java/com/personal/productcatalog/service/ProductService.java
  back-end/src/main/java/com/personal/productcatalog/utils/EmailUtils.java
  back-end/src/main/resources/application.yml
  back-end/src/main/resources/email/created-product-body-email.html
  back-end/src/test/java/com/personal/productcatalog/action/ActionTest.java
  back-end/src/test/java/com/personal/productcatalog/fixture/ProductFixture.java
  back-end/src/test/java/com/personal/productcatalog/fixture/UserFixture.java
  back-end/src/test/java/com/personal/productcatalog/service/ProductServiceTest.java
  back-end/src/test/java/com/personal/productcatalog/service/UserServiceTest.java
Labels: back-end, front-end

#46 Security application.yml
  back-end/src/main/resources/application.yml
Labels: back-end

#47 pre-main -> main
  back-end/src/main/resources/application.yml
Labels: back-end

#48 Create reactive stream to send e-mail
  back-end/src/main/java/com/personal/productcatalog/action/product/SendEmailProductCreated.java
  back-end/src/main/java/com/personal/productcatalog/service/EmailService.java
Labels: back-end

#49 pre-main -> main
  back-end/src/main/java/com/personal/productcatalog/action/product/SendEmailProductCreated.java
  back-end/src/main/java/com/personal/productcatalog/service/EmailService.java
Labels: back-end
